#search {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input {
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 2px;
    background-position-x: 2px;
    padding-left: 25px;
    margin-top: 20px;
}