.report {
 
    height: 60px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient( to right, orange, lightgreen, yellow);
    

}
.report>div {
    width: 32%;
    border-right: 1px black solid;
}

.last-column {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    border-right: none !important;
} 



.last-column>div {
    width: 30%;
    border-right: 1px solid black;
}

.last-column>div:nth-child(3) {
    border: none;
}

.report div {
    display: flex;
    flex-direction: column;
}

#last-div {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    text-align: center;
    /* margin: auto; */
    padding-top: 10px;
}

#last-div h4{
    flex: 1;
}

#last-div h6 {
    flex: 1;
}

.report h4 {
    margin-top: 5px;
}

.report h6 {
    margin-top: 5px;
}

@media screen and (max-width: 750px) {
    .last-column {
        width: 68% !important;
    }
    .report>div:nth-child(1) {
        width: 15%;
    }
    .report>div:nth-child(2) {
        width: 15%;
    }
    .report >div{
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .report {
        font-size: 3vw;
    }
}